<div id='nd_frame'>
	<div ng-show='vm.showMin' ng-click='vm.minimize' class='nd_frame_button' id='nd_frame_min'><span class="octicon octicon-dash"></span></div>
	<div ng-show='vm.showToggleFullscreen' ng-click='vm.fullscreenToggle' class='nd_frame_button' id='nd_frame_toggle'><span class="octicon octicon-device-desktop"></span></div>
	<div ng-show='vm.showClose' ng-click='vm.close' class='nd_frame_button' id='nd_frame_close'><span class="octicon octicon-x"></span></div>

</div>
<div id='nd_frame_spacer'></div>
